<h1>Editing Upvote #<%= @upvote.id %></h1>

<form action="/upvotes/<%= @upvote.id %>/update">
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" value="<%= @upvote.user_id  %>" type="text" />
  </div>
  <div>
    <label for="gif_id">gif_id</label><br />
    <input id="gif_id" name="gif_id" value="<%= @upvote.gif_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


