<h1>New Upvote</h1>

<form action="/create_upvote">
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <label for="gif_id">gif_id</label><br />
    <input id="gif_id" name="gif_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

